@model EventsApplication.ViewModels.EventViewModel

@{
    ViewBag.Title = @Model.Naam;
    ViewBag.HideNavBar = true;
}

<head>
    <link href="https://fonts.googleapis.com/css?family=Poiret+One|Quicksand" rel="stylesheet">
    <script src="~/Scripts/jquery-1.10.2.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Monoton" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Advent+Pro|Julius+Sans+One|Syncopate" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Wire+One" rel="stylesheet">

</head>
@Styles.Render("~/Content/Home.css")

<div class="vertical-center">
    <div class="container datetime">
        <div class="sk-folding-cube">
            <div class="sk-cube1 sk-cube"></div>
            <div class="sk-cube2 sk-cube"></div>
            <div class="sk-cube4 sk-cube"></div>
            <div class="sk-cube3 sk-cube"></div>
        </div>
        <div class="row hidden" id="naam">
            <h1>@Model.Naam</h1>
        </div>
        <div class="row hidden" id="divider">
            <div class="col-sm-4 col-sm-offset-4">
                <hr/>
            </div>
        </div>
        <div class="row hidden" id="datum">
            <p>@Model.DatumStart.ToString("dd").@Model.DatumStart.ToString("MMM").@Model.DatumStart.ToString("yyyy")</p>
        </div>
        <div class="row hidden" id="locatie">
            <p>@Model.Locatie.Naam</p>
        </div>
        <div class="row">

        </div>
        <div class="row">
            <p id="demo" class="hidden"> </p>
            <script>
                // Set the date we're counting down to
                var countDownDate = new Date('@Model.DatumStart').getTime();  
                // Update the count down every 1 second
                var x = setInterval(function () {
                        
                        $(".hidden").removeClass("hidden");
                        $('#naam').addClass('animated fadeInDownBig');
                        $('#divider').addClass('animated fadeInDownBig');
                        $('#datum').addClass('animated fadeInLeftBig');
                        $('#locatie').addClass('animated fadeInRightBig');
                        $('#demo').addClass('animated fadeInRightBig');
                        $('#basicBox1').addClass('animated fadeInRightBig');
                        $('#basicBox2').addClass('animated fadeInLeftBig');
                        $('#admin').addClass('animated fadeInUpBig');
                        $('#evenement').addClass('animated fadeInUpBig');
                        $('.sk-folding-cube').addClass('hidden');

                        // Get todays date and time
                        var now = new Date().getTime();

                        // Find the distance between now an the count down date
                        var distance = countDownDate - now;

                        // Time calculations for days, hours, minutes and seconds
                        var days = Math.floor(distance / (1000 * 60 * 60 * 24));
                        var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
                        var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
                        var seconds = Math.floor((distance % (1000 * 60)) / 1000);

                        // Display the result in the element with id="demo"
                        $('#demo').text(days + "d " + hours + "u " + minutes + "m " + seconds + "s  ");

                        // If the count down is finished, write some text
                        if (distance < 0) {
                            clearInterval(x);
                            $('#demo').text('BEGONNEN');
                            $('#reserveercol').remove();
                            $('.col-lg-4').addClass('col-lg-5');
                            $('.col-lg-4').removeClass('col-lg-4');
                        }
                    },
                    1000);
            </script>
        </div>
        <div class="row">
            <div class="container">
                <div class="col-lg-4"></div>
                <div class="col-lg-2" id="reserveercol">
                    <a href="/reserveer" id="reserveer">
                        <div class="basicBox hidden" id="basicBox2">
                            Reserveren
                            <svg width="130" height="65" viewBox="0 0 130 65" xmlns="http://www.w3.org/2000/svg">
                                <rect x='0' y='0' fill='none' width='130' height='65'/>
                            </svg>
                        </div>
                    </a>
                </div>
                <div class="col-lg-2">
                    <a href="/account/login">
                        <div class="basicBox hidden" id="basicBox1">
                            Inloggen
                            <svg width="130" height="65" viewBox="0 0 130 65" xmlns="http://www.w3.org/2000/svg">
                                <rect x='0' y='0' fill='none' width='130' height='65'/>
                            </svg>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4"></div>
            </div>
        </div>
        <div class="row">
            <a href="/account/AdminLogin">
                <p id="admin" class="hidden">Admin Login</p></a>
            <a href="/">
                <p id="evenement" class="hidden">Ander evenement</p></a>
        </div>
    </div>
</div>
<div class="page-bg">
</div>
