@model IEnumerable<EventsApplication.Models.Bijdrage>

@{
    ViewBag.Title = "Adminpanel";
}

<h2>Adminpanel</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Datum)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Soort)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Datum)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Soort)
        </td>
        <td>
            @Html.ActionLink("Delete", "AdminDelete", new { id=item.Id })
        </td>
    </tr>
}

</table>
