@using System.Globalization
@using EventsApplication.Models
@model EventsApplication.ViewModels.BijdrageViewModel


<script src="/Scripts/jquery-1.10.2.js"></script>
<script src="~/Scripts/Self/Mediasharing.js"></script>
@{
    ViewBag.Title = "Bijdrages";
    List<Categorie> categorieList = new List<Categorie>();
    List<Bestand> bestandList = new List<Bestand>();
    List<Bericht> berichtList = new List<Bericht>();
}
<div class="col-md-8 col-md-offset-4">
    @foreach (var item in Model.bijdrageList)
    {
        if (item is Bestand)
        {
            Bestand b = (Bestand)item;
            bestandList.Add(b);
        }

        if (item is Bericht)
        {
            Bericht b = (Bericht)item;
            berichtList.Add(b);
        }

        if (item is Categorie)
        {
            Categorie b = (Categorie)item;
            categorieList.Add(b);
        }
    }
    @if (bestandList.Count == 0)
    {
        <h4>U heeft nog geen posts geuploadt! <span class="glyphicon glyphicon-info-sign"></span></h4>
    }
    @foreach (Bestand item in bestandList)
    {
        Categorie categorie = categorieList.Find(a => a.CategorieId == item.CategorieId);

        <div class="container">
            <div class="panel panel-white post panel-shadow">
                <div class="post-heading">
                    <div class="pull-left image">
                        <img src="http://bootdey.com/img/Content/user_1.jpg" class="img-circle avatar" alt="user profile image">
                    </div>
                    <div class="pull-left meta">
                        <div class="title h5">
                            <a href="#"><b>@item.Account.Gebruikersnaam</b></a>
                            made a post.
                        </div>
                        <h6 class="text-muted time"><span> @item.Datum.DayOfWeek - @item.Datum.Day @item.Datum.ToString("MMMM", CultureInfo.InvariantCulture)</span></h6>
                    </div>
                    <div class="dropdown pull-right">
                        <span class="dropdown-toggle" type="button" data-toggle="dropdown">
                            <span class="[ glyphicon glyphicon-chevron-down ]"></span>
                        </span>
                        <ul class="dropdown-menu" role="menu">
                            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Action</a></li>
                            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Another action</a></li>
                            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Something else here</a></li>
                            <li role="presentation" class="divider"></li>
                            @*<li role="presentation"><a role="menuitem" tabindex="-1" href="#" id ="delete">Delete</a></li>*@
                            <li><a href="#" id="@item.Id"  class="delete" data-item="@item.Id" >Delete</a></li> 
                        </ul>

                    </div>
                </div>
                <div class="post-description">
                    <p>@item.Bestandlocatie</p>
                    <div class="stats">
                        @*<a href="#" class="btn btn-default stat-item">*@
                        @*<button type="submit" name="id" value=@item.AccountBijdrage.Id><i class="fa fa-thumbs-up icon"></i></button>@item.AccountBijdrage.Like*@
                            <button class="btn btn-default  likePost" data-item="@item.Id">@item.AccountBijdrage.Like<i class="fa fa-thumbs-up" aria-hidden="true"></i></button>
                        @*</a>*@
                        <a href="#" class="btn btn-default stat-item">
                            <i class="fa fa-share icon"></i>
                        </a>
                        <a href="#" class="btn btn-default stat-item">
                            <i class="fa fa-tag icon"></i>@categorie.Naam
                        </a>
                    </div>
                </div>
                <div class="post-footer">
                    <div class="input-group">
                        <input class="form-control" placeholder="Add a comment" type="text">
                        <span class="input-group-addon">
                            <a href="#"><i class="fa fa-edit"></i></a>
                        </span>
                    </div>
                    <div>
                        <button class="btn btn-default commentsbutton ShowCommentsById" data-item="@item.Id">Load Comments <i class="fa fa-comments" aria-hidden="true"></i></button>
                        <div style="display: none;" id="loadingcomments-@item.Id">
                        </div>
                        <div class="showComments-@item.Id" data-comment="@item.Id">
                            <div class="showComments-@item.Id"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>



