@using EventsApplication.Models
@model IEnumerable<EventsApplication.Models.Bijdrage>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.AccountId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Datum)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Soort)
        </th>
        
        <th>
            @Html.DisplayNameFor(model => model.Soort)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    
    if(item is Bericht)
    {
        Bericht b = (Bericht) item;
        <tr>
            <td>
                @b.Titel
            </td>
            <td>
                @b.Inhoud
            </td>
        </tr>
    }
    if (item is Categorie)
    {
        Categorie b = (Categorie)item;
        <tr>
            <td>
                @b.Naam
            </td>
            <td>
                @b.Datum
            </td>
        </tr>
    }
    if (item is Bestand)
    {
        Bestand b = (Bestand)item;
        <tr>
            <td>
                @b.Bestandlocatie
            </td>
            <td>
                @b.CategorieId
            </td>
        </tr>
    }


}

</table>
