@model IEnumerable<EventsApplication.Models.Account>

@{
    ViewBag.Title = "AccountIndex";
}

<h2>AccountIndex</h2>

<p>
    @Html.ActionLink("Create New", "AccountCreate")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Gebruikersnaam)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Activatiehash)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Geactiveerd)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Gebruikersnaam)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Activatiehash)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Geactiveerd)
        </td>
        <td>
            @Html.ActionLink("Edit", "AccountEdit", new { id=item.Id, activatiehash=item.Activatiehash }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
