@model IEnumerable<EventsApplication.Models.Event>

@{
    ViewBag.Title = "EventIndex";
}

<h2>EventIndex</h2>

<p>
    @Html.ActionLink("Create New", "EventCreate")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Naam)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Datumstart)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Datumeind)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Maxbezoekers)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Naam)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Datumstart)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Datumeind)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Maxbezoekers)
        </td>
        <td>
            @Html.ActionLink("Details", "EventDetails", new { id = item.ID1 }) |
            @Html.ActionLink("Delete", "EventDelete", new { id = item.ID1 })
        </td>
    </tr>
}

</table>
