@model IEnumerable<EventsApplication.Models.Product>

@{
    ViewBag.Title = "ProductIndex";
}

<h2>ProductIndex</h2>

<p>
    @Html.ActionLink("Create New", "ProductCreate")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Merk)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Serie)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Typenummer)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Prijs)
        </th>
        <th>
            @Html.Label("Naam")
        </th>
        <th>

        </th>
    </tr>

@foreach (var item in Model)
{
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Merk)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Serie)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Typenummer)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Prijs)
        </td>
        <td>
            @Html.ActionLink("Details", "ProductDetails", new { id = item.Id })
        </td>
    </tr>
}
</table>


  @{
      var getlist = ViewBag.productcategorie as IEnumerable<EventsApplication.Models.ProductCat>;
  }

    <table class="table">
        <tr>
            <th>
                @Html.Label("Naam")
            </th>
        </tr>

        @foreach (var item in getlist)
        {
            <tr>
            <td>
                 <span>@item.Naam</span>
            </td>
            </tr>

        }

      
     </table>
      






